################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs
/packages
/Samples/WpfAppUndoRedoPattern/bin/Debug
/Samples/WpfAppUndoRedoPattern/obj
/Samples/WpfAppUnreWithInstanceRepository/.vs
/Samples/WpfAppUnreWithInstanceRepository/bin/Debug
/Samples/WpfAppUnreWithInstanceRepository/obj
/Samples/WpfAppUnreWithStaticExtension/.vs
/Samples/WpfAppUnreWithStaticExtension/bin/Debug
/Samples/WpfAppUnreWithStaticExtension/obj
/Samples/WpfAppUnreWithStaticRepository/.vs/WpfAppUnreWithStaticRepository/v15
/Samples/WpfAppUnreWithStaticRepository/bin/Debug
/Samples/WpfAppUnreWithStaticRepository/obj
/Unre/bin
/Unre/obj
/SamplesByNuget/ConsoleAppByNuget/bin/Debug
/SamplesByNuget/ConsoleAppByNuget/obj
/SamplesByNuget/AppInstanceRepositoryByNuget/bin/Debug
/SamplesByNuget/AppInstanceRepositoryByNuget/obj/Debug
/Samples/WpfAppUnreWithCommonCommandsRaise/.vs
/Samples/WpfAppUnreWithCommonCommandsRaise/bin/Debug
/Samples/WpfAppUnreWithCommonCommandsRaise/obj
/Unre.sln.DotSettings.user
/Samples/WpfAppUndoRedoPattern/bin/Release
/Samples/WpfAppUnreWithCommonCommandsRaise/bin/Release
/Samples/WpfAppUnreWithInstanceRepository/bin/Release
/Samples/WpfAppUnreWithStaticExtension/bin/Release
/Samples/WpfAppUnreWithStaticRepository/bin/Release
/DotNetCoreConsoleAppByNuget/bin/Debug/netcoreapp2.0
/DotNetCoreConsoleAppByNuget/obj
/WpfAppUnreWithReplaceInstanceToMapEntity/bin/Debug
/WpfAppUnreWithReplaceInstanceToMapEntity/obj/Debug
/Samples/UnreSampleWithAction/bin/Debug
/Samples/UnreSampleWithAction/obj
